:root {
  --primary-background: #faf6f3;
  --secondary-background-hover: rgba(255,255,255,0.6);
  --primary: #483f3a;
  --secondary: #4a5f42;
  --tertiary: #cea4a7;
  --cta: #f1cfd3;
  --link: #ecbec2;
}

.button,
button {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fff;
  color: var(--tertiary);
  border: solid var(--tertiary) 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.button:hover,
button:hover {
  background-color: var(--secondary-background-hover);
  text-decoration: none;
}
.button:active,
button:active,
.button.active,
button.active {
  color: var(--primary);
}
.button.has-emoji,
button.has-emoji {
  padding-top: 5px;
  padding-bottom: 5px;
}
.button img,
button img {
  vertical-align: bottom;
}
.button-cta {
  color: var(--primary);
  background-color: var(--cta);
  box-shadow: 4px 4px 0 var(--tertiary);
  margin-bottom: 2px;
  padding-bottom: 6px;
}
.button-cta:hover {
  background-color: #fff;
  box-shadow: 2px 2px 0 var(--tertiary);
}
.button-cta:active {
  background-color: var(--cta);
  box-shadow: none;
}
.button-small {
  font-size: 12px;
  padding: 3px 8px;
  padding-top: 5px;
}
.button-small.has-emoji {
  padding-top: 3px;
  padding-bottom: 3px;
}
.button-small.has-emoji .status-badge {
  margin-right: 3px;
}
.button-small .loader {
  width: 15px;
  height: 15px;
  margin-right: 0;
}
.button-small .status-badge {
  display: inline;
  margin-left: 1px;
}
